.root {
  background-color: #2a2c2f;
  max-width: 1920px;
}

.page {
  color: #ffffff;
  background-color: #2a2c2f;
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.header {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid rgb(186, 174, 174);
}

.header__name {
  font-weight: 600;
  font-size: 50px;
  margin: 20px 0 40px 0;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.content:hover .card__open-icon {
  visibility: visible;
  opacity: 1;
  width: 40px;
  height: 40px;
}

.card {
  border-bottom: 1px solid rgb(186, 174, 174);
}

.card__main {
  display: flex;
  justify-content: space-between;
  padding: 70px 70px;
  cursor: pointer;
}

.card__main:hover + .card__main-pic {
  visibility: visible;
  margin-bottom: 20px;
  width: 40%;
  height: 50%;
  opacity: 1;
}

.card__main:active + .card__main-pic {
  visibility: visible;
  margin-bottom: 20px;
  width: 40%;
  height: 50%;
  opacity: 1;
}

.card__header {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 3px;
  cursor: pointer;
}

.card__open-icon {
  opacity: 0;
  transition: 0.9s ease-in-out;
  width: 0%;
  height: 0%;
  visibility: hidden;
}

.card__main-pic {
  opacity: 0;
  transition: 0.9s ease-in-out;
  width: 0%;
  height: 0%;
  visibility: hidden;
}

.checkbox-card {
  visibility: hidden;
  opacity: 0;
  width: 0%;
  height: 0%;
}

.checkbox-card:checked ~ .card__main-pic {
  visibility: visible;
  margin-bottom: 20px;
  width: 40%;
  height: 50%;
  opacity: 1;
}
